
@media only screen and (min-width: 768px){
    .responsive {
        visibility: hidden;
        opacity: 1;
        position: absolute;
    }
}

@media only screen and (max-width: 768px){
    .education{
        visibility: hidden;
        opacity: 1;
    }   
}

@media only screen and (max-width: 768px){
    .aboutme{
        visibility: hidden;
        opacity: 1;
    }
}
@media only screen and (max-width: 768px){
    .projectme{
        visibility: hidden;
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .banner{
        width: 200px;
    }
}


.foto :hover{
    transform: translate(-50%, -50%) scale(1.6);
}